@font-face {
  font-family: "iconfont"; /* Project id 3105460 */
  src: url('iconfont.woff2?t=1653037475215') format('woff2'),
       url('iconfont.woff?t=1653037475215') format('woff'),
       url('iconfont.ttf?t=1653037475215') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zan:before {
  content: "\e660";
}

.icon-gongyingshang:before {
  content: "\e65a";
}

.icon-shangpin:before {
  content: "\e65b";
}

.icon-caiwu:before {
  content: "\e65c";
}

.icon-pinglun:before {
  content: "\e65d";
}

.icon-peisong:before {
  content: "\e65e";
}

.icon-shangjia:before {
  content: "\e65f";
}

.icon-a-zhaopianxiangji:before {
  content: "\e653";
}

.icon-fasong:before {
  content: "\e656";
}

.icon-a-huanzhequnzhong:before {
  content: "\e657";
}

.icon-a-wenzhangwenben:before {
  content: "\e658";
}

.icon-a-shipinsheying:before {
  content: "\e659";
}

.icon-jiancha:before {
  content: "\e650";
}

.icon-tijianxiangmu:before {
  content: "\e651";
}

.icon-a-jianchaxinwen:before {
  content: "\e652";
}

.icon-a-bingtutongji:before {
  content: "\e654";
}

.icon-a-xuexiaoqiye:before {
  content: "\e655";
}

.icon-zhuye:before {
  content: "\e64f";
}

.icon-jiaose:before {
  content: "\e64e";
}

.icon-shuaxin:before {
  content: "\e64d";
}

.icon-jianshao:before {
  content: "\e64b";
}

.icon-tianjia2:before {
  content: "\e64c";
}

.icon-a-niandurili:before {
  content: "\e645";
}

.icon-a-dingweifenbu:before {
  content: "\e646";
}

.icon-a-anquanpeizhi:before {
  content: "\e647";
}

.icon-bangfu:before {
  content: "\e648";
}

.icon-a-qiyegongzuo:before {
  content: "\e649";
}

.icon-daochu:before {
  content: "\e64a";
}

.icon-weizhiwenjian:before {
  content: "\e644";
}

.icon-shouqi:before {
  content: "\e642";
}

.icon-zhankai:before {
  content: "\e643";
}

.icon-dui:before {
  content: "\e63a";
}

.icon-a-yanzhengmaanquan:before {
  content: "\e63c";
}

.icon-yincang:before {
  content: "\e63f";
}

.icon-xianshi:before {
  content: "\e640";
}

.icon-mima:before {
  content: "\e641";
}

.icon-dingdan1:before {
  content: "\e63d";
}

.icon-renwu1:before {
  content: "\e63e";
}

.icon-tongzhi:before {
  content: "\e635";
}

.icon-yonghu:before {
  content: "\e636";
}

.icon-wenzhang:before {
  content: "\e637";
}

.icon-tianjiafujian:before {
  content: "\e638";
}

.icon-biaoqian:before {
  content: "\e639";
}

.icon-lianjie:before {
  content: "\e63b";
}

.icon-wenjianjia:before {
  content: "\e633";
}

.icon-excelwenjian:before {
  content: "\e634";
}

.icon-yasuobaowenjian:before {
  content: "\e62b";
}

.icon-xuanze:before {
  content: "\e62c";
}

.icon-shipinwenjian:before {
  content: "\e62d";
}

.icon-yinlewenjian:before {
  content: "\e62e";
}

.icon-PDFwenjian:before {
  content: "\e62f";
}

.icon-wordwenjian:before {
  content: "\e630";
}

.icon-lianjiewenjian:before {
  content: "\e631";
}

.icon-quxiao:before {
  content: "\e632";
}

.icon-xiangji:before {
  content: "\e62a";
}

.icon-wenjian:before {
  content: "\e628";
}

.icon-tianjia:before {
  content: "\e629";
}

.icon-chenggong:before {
  content: "\e625";
}

.icon-cuowu:before {
  content: "\e626";
}

.icon-jinggao:before {
  content: "\e627";
}

.icon-guanbi:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e623";
}

.icon-bianji:before {
  content: "\e617";
}

.icon-jiantou-xia:before {
  content: "\e618";
}

.icon-paixu:before {
  content: "\e619";
}

.icon-jibenguanli:before {
  content: "\e61a";
}

.icon-you:before {
  content: "\e61b";
}

.icon-xia:before {
  content: "\e61c";
}

.icon-zhuti:before {
  content: "\e61d";
}

.icon-zuo:before {
  content: "\e61e";
}

.icon-jiantou-shang:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e620";
}

.icon-shang:before {
  content: "\e621";
}

.icon-xitongshezhi:before {
  content: "\e622";
}

